:root {
  /* Colores pastel */
  --bg: #ffffffff;        /* Azul pastel */
  --panel: #00f4fdff;     /* Azul más suave */
  --accent: #fff023ff;    /* Amarillo pastel */
  --accent-2: #1a71ecff;  /* Rosa coral pastel */
  --text: #222222;      /* Texto oscuro */
  --white: #ffffff;

  /* Tipografía */
  --font-pixel: 'Press Start 2P', monospace;

  /* Dimensiones */
  --btn-height: 48px;
}
